.header-section{
    background-color:antiquewhite;
}
.div-container{
    display: flex;
    justify-content:space-between;
    margin: 40px;
}
.header{
    justify-content: center;
    width: 600px;
    height: 506px;
    padding: 15px;
}
.header-text{
    font-size: 50px;


}

.heading-paragraph{
    margin: 5px 0px 5px 5px ;
}
.header-image{
    
}
#submit {
    background-color: red;
    font-size: 25px;
    color: black;
    margin-top: 15px;
}
#footer{
    background-color: black;
    justify-content: center;
    margin: 40px;
}
.footer-text{
    text-align: center;
    color: blue;
}
.footer-paragraph{
    color: white;
    text-align: center;

}